


<!--Homepage-->

<div class="jumbotron">
  <h1 class="display-4 text-center">The Onion Mongo Scraper</h1>
  <p class="lead text-center">Peelin that Onion!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="http://localhost:8080" role="button">Home</a>
  <a class="btn btn-primary btn-lg" href="http://localhost:8080/article" role="button">Scrape this Baby.</a>
  <a class="btn btn-primary btn-lg" href="http://localhost:8080/savedarticles" role="button">Saved Articles</a>
</div>


  
   
    </div>
    {{#each results.articles}}
  <div class="card border-primary mb-3">
    <div class="card-header">
      <h4>
        <div class="row">
          <div class="col-md-10">
            <a href={{this.link}}>
              {{this.title}}
            </a>
          </div>
          <div class="col-md-2">
            {{#if saved}}
              <a class="btn btn-primary delArticle" data-id="{{_id}}">Delete Article</a>
              <a class="btn btn-primary note" data-id="{{_id}}" data-toggle="modal" data-target="#notes-modal">Comments</a>
            {{else}}
              <a class="btn btn-primary save" data-title="{{title}}" data-link="{{this.link}}" data-summary="{{this.summary}}">Save Article</a>
            {{/if}} 
          </div> 
        </div>
      </h4>
    </div>
    <div class="card-body">
      
      <p class="summary">{{this.summary}}</p>
    </div>
  </div> 
{{/each}}
